.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: linear-gradient(180deg, #fff, #03B0FD 80%) no-repeat; */
  }
  
  .policies {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    margin: 0 auto;
  }
  
  @media only screen and (max-width: 768px) {
    .policies {
      max-width: 500px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .policies {
      max-width: 300px;
    }
  
    .policies h2 {
      font-size: 1.5rem;
    }
  
    .policies p {
      font-size: 1rem;
    }
  }
  